@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");

#main2 {
  position: absolute;
  height: 620px;
  width: 1000px;
  top: 3%;
  left: 5%;
  /* border: 2px solid black; */
  /* border-radius: 81px 0px 81px 0px; */
  margin: 3px;
}
#main3 {
  overflow: scroll;
  height: 620px;
  width: 1000px;
  /* border-radius: 81px 0px 81px 0px; */
  background-color: rgba(251, 250, 248, 0.587);
  backdrop-filter: blur(1px);
  color: rgb(9, 9, 9);
  border-radius: 81px 0px 81px 0px;
}
#img1 {
  /* opacity: 0.7; */
  width: 100vw;
  height: 100vh;
}
span {
  display: inline-block;
  padding: 2px;
}
.icon {
  margin-left: 400px;
}
td {
  color: rgb(78, 11, 11);
  font-size: larger;
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  padding: 2px;
  margin: 3px;
}
tr {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: larger;
  padding: 2px;
  margin: 3px;
}
button {
  display: inline;
}

input {
  border: none;
  padding: 3px;
  margin: 3px;
  font-size: 14px;
}
#edit {
  background-color: coral;
  border: none;
  border-radius: 10px;
  width: 90px;
  padding: 5px;
  margin: 5px;
}
#del {
  background-color: red;
  border: none;
  border-radius: 10px;
  width: 90px;
  padding: 5px;
  margin: 3px;
}
#save {
  background-color: green;
  border: none;
  border-radius: 10px;
  width: 90px;
  padding: 5px;
  margin: 5px;
}
